<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Discover</title>
</head>
<body>
    <h1>Discover</h1>
    <a href="/">Home</a>
    <button>Add Discover</button>
    <table border="1">
        <thead>
            <tr>
                <th>Country Name</th>
                <th>Disease Code</th>
                <th>First Encounter Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for discover in discoveries %}  <!-- Match variable name 'discoveries' -->
            <tr>
                <td>{{ discover.cname }}</td>
                <td>{{ discover.disease_code }}</td>
                <td>{{ discover.first_enc_date }}</td>
                <td>
                    <a class="add-button">Edit</a>
                    <button>Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
